<footer class="footer">
    <article class="footer-up">
        <section class="footer-socialMedia">
            <img width="32px" height="32px" src="/images/facebook.png" alt="img">
            <img width="34px" height="33px" src="/images/insta.jpg" alt="img">
            <img width="32px" height="32px" src="/images/twitter.jpg" alt="img">
            <img width="33px" height="33px" src="/images/utube.jpg" alt="img">
        </section>
        <section class="footer-country">
            <h3 class="footer-country__header">ВЫБРАТЬ СТРАНУ/РЕГИОН</h3>
            <select class="footer-country__select">
                <option class="footer-country__option" value="Казахстан">Казахстан</option>
            </select>
        </section>
    </article>
    <section class="footer-down">
        <div class="footer-down__info">
            <img src="/images/plus.jpg" alt="img">
            O LENOVO
        </div>
        <div class="footer-down__info">
            <img src="/images/plus.jpg" alt="img">
            ПРОДУКТЫ И РЕСУРСЫ
        </div>
        <div class="footer-down__info">
            <img src="/images/plus.jpg" alt="img">
            РЕСУРСЫ
        </div>
    </section>
    <section>
        &copy;
    </section>
</footer>