<header class="header">
    <nav class="nav-categories">
        <a href="/" class="nav-categories__logo"><img src="" alt="Shop logo"></a>
        <section class="nav-categories__categories">
            <span class="nav-categories__category active">Настольный ПК и ноутбуки</span>
            <span class="nav-categories__category">Смартфоны</span>
            <span class="nav-categories__category">Серверы и СХД</span>
            <span class="nav-categories__category">Умные устройства</span>
            <a href="/newProduct" class="nav-categories__category">Услуги и решения</a>
            <span class="nav-categories__category">Поддержка</span>
        </section>
        <section class="nav-categories__searchbar">
            <input type="text" class="nav-categories__input" placeholder="Поиск" >
            <div class="nav-categories__search">
                <img class="nav-categories__icon" src="/images/search.svg" alt="search">
            </div>
        </section>
    </nav>
    <article class="subcategories">
        <ul class="subcategories-subcategory">
            <li class="subcategories-subcategory__item">
                <img width="32px" height="32px" class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/c4d9469.svg" alt="item img">
                <p>Ноутбуки</p>
                <aside class="subcategories-subcategory__dropdown">
                    <section class="subcategories-subcategory__type">
                        <h3 class="subcategories-subcategory__header">Посмотреть ноутбуки</h3>
                        <a href="#" class="subcategories-subcategory__link">Посмотреть все ноутбуки</a>
                        <a href="#" class="subcategories-subcategory__link">Ноутбуки 2-в-1</a>
                        <a href="#" class="subcategories-subcategory__link">Тонкие и легкие</a>
                        <a href="#" class="subcategories-subcategory__link">Игровые ноутбуки</a>
                    </section>
                    <section class="subcategories-subcategory__type">
                        <h3 class="subcategories-subcategory__header">Выбрать бренд</h3>
                        <a href="#" class="subcategories-subcategory__link">ThinkPad</a>
                        <a href="#" class="subcategories-subcategory__link">ThinkBook</a>
                        <a href="#" class="subcategories-subcategory__link">IdeaPad</a>
                        <a href="#" class="subcategories-subcategory__link">Yoga</a>
                        <a href="#" class="subcategories-subcategory__link">Legion</a>
                    </section>
                </aside>
            </li>
            

            <li class="subcategories-subcategory__item">
                <img width="32px" height="32px"  class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/cc9e123.svg" alt="item img">
                <p>Настольные ПК</p>
                <aside class="subcategories-subcategory__dropdown">
                    <section class="subcategories-subcategory__type">
                        <h3 class="subcategories-subcategory__header">Посмотреть все настольные ПК</h3>
                        <a href="#" class="subcategories-subcategory__link">Посмотреть все настольные ПК</a>
                        <a href="#" class="subcategories-subcategory__link">ПК в корпусе Tiny</a>
                        <a href="#" class="subcategories-subcategory__link">Игровые ПК</a>
                        <a href="#" class="subcategories-subcategory__link">Рабочие станции</a>
                    </section>
                    <section class="subcategories-subcategory__type">
                        <h3 class="subcategories-subcategory__header">Выбрать бренд</h3>
                        <a href="#" class="subcategories-subcategory__link">ThinkCentre</a>
                        <a href="#" class="subcategories-subcategory__link">IdeaCentre</a>
                        <a href="#" class="subcategories-subcategory__link">Legion</a>
                        <a href="#" class="subcategories-subcategory__link">Lenovo</a>
                    </section>
                </aside>
            </li>
            
            <li class="subcategories-subcategory__item">
                <img width="32px" height="32px"  class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/f7de3d4.svg" alt="item img">
                <p>Рабочие станции</p>
            </li>
            <li class="subcategories-subcategory__item">
                <img  width="32px" height="32px" class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/5227f60.svg" alt="item img">
                <p>Смартфоны</p>
                <aside class="subcategories-subcategory__dropdown">
                    <section class="subcategories-subcategory__type">
                        <h3 class="subcategories-subcategory__header">Посмотреть смартфоны</h3>
                        <a href="#" class="subcategories-subcategory__link">Посмотреть все смартфоны</a>
                        <a href="#" class="subcategories-subcategory__link">На базе Andriod</a>
                        <a href="#" class="subcategories-subcategory__link">На базе Windows</a>
                        <a href="#" class="subcategories-subcategory__link">На базе IOS</a>
                    </section>
                </aside>
            </li>
            <li class="subcategories-subcategory__item">
                <img width="32px" height="32px"  class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/c497ebc.svg" alt="item img">
                <p>Мониторы</p>
            </li>
            <li class="subcategories-subcategory__item">
                <img  width="32px" height="32px" class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/f89e3a7.svg" alt="item img">
                <p>Игровые устройства</p>
            </li>
            <li class="subcategories-subcategory__item">
                <img  width="32px" height="32px" class="subcategories-subcategory__img" src="https://static.lenovo.com/fea/_build/img/e5f6ba5.svg" alt="item img">
                <p>Аксессуары</p>
            </li>
        </ul>
        <section class="subcategories-account">
            <% 
                if(typeof currentUser === 'object' && currentUser){    
            %> 
            <p><%=currentUser.nickname%></p>
            <a href="/api/auth/signout" class="btn-logout">Выйти</a>
            <%
                }else{
            %>
            <p>Учетная запись</p>
            <img width="16px" height="16px" src="https://static.lenovo.com/fea/_build/img/52b8153.svg" alt="">
            <aside class="subcategories-account__dropdown">
                <a class="subcategories-account__link" href="/login">Sign in</a>
                <a class="subcategories-account__link" href="/register">Sign up</a>
            </aside>
            <%
                }
            %>
        </section>
    </article>
</header>